{% from '_macros/abap.tmpl' import interface_def, method_def %}

{% call interface_def(
    name=INTERFACE_NAME,
    description=INTERFACE_DESCRIPTION,
    author=AUTHOR,
    date=DATE,
    purpose=PURPOSE
) %}

  {% for method in methods %}
  {{ method_def(
      name=method.name,
      description=method.description,
      importing=method.importing,
      exporting=method.exporting,
      changing=method.changing,
      returning=method.returning,
      raising=method.raising
  ) }}
  {% endfor %}

  "! Constants
  CONSTANTS:
    {% for constant in constants %}
    {{ constant.name }} TYPE {{ constant.type }} VALUE {{ constant.value }}{{ "," if not loop.last else "." }}
    {% endfor %}

  "! Types
  TYPES:
    {% for type in types %}
    {{ type.name }} TYPE {{ type.definition }}{{ "," if not loop.last else "." }}
    {% endfor %}

{% endcall %}
